<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <script src="{% static 'js/bootstrap.js' %}"></script>
</head>
<body>

<header class="p-3 text-bg-light border-bottom mb-2">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start"><a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
            <img src="{% static 'img/logo.jpg' %}" alt="" height="50" width="50">
        </a>
            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a href="#" class="nav-link px-2 text-secondary">首页</a></li>
                <li><a href="#" class="nav-link px-2 text-black">发布博客</a></li>
            </ul>
            <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search"><input type="search" class="form-control form-control-dark text-bg-light" placeholder="搜索..." aria-label="Search"></form>
            <div class="text-end">
                <button type="button" class="btn btn-outline-primary me-2">登录</button>
                <button type="button" class="btn btn-primary">注册</button>
            </div>
        </div>
    </div>
</header>

<main class="container bg-white p-3 rounded">
    <h1>博客详情</h1>
    <hr>
    <div class="mt-2">
        <img src="{% static 'img/logo.jpg' %}" width="30px" height="30px" alt="">
        <span class="ms-2">username</span>
        <span class="ms-2">于</span>
        <span class="ms-2">2026年1月1日 11:34</span>
        <span class="ms-2">发布</span>
    </div>
    <hr>
    <div class="py-2">
        博客详情6666666666666666666
    </div>
    <hr>
    <div class="mt-2">
        <h3>评论 (10)</h3>
    </div>

    <form action="" method="POST">
        <div>
            <label class="input-group mb-3">
                <input type="text" class="form-control" placeholder="请输入评论">
            </label>
        </div>
        <div class="text-end">

            <button type="button" class="btn btn-primary">评论</button>
        </div>
    </form>

    <ul class="list-group list-group-flush">
        <li class="list-group-item">An item</li>
    </ul>

</main>


</body>
</html>